/* App.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;  
  align-items: flex-start;      
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  overflow-x: hidden;       
}

form {
  width: calc(100% - 40px); 
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  box-sizing: border-box;
}

input, button, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #0056b3;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #004494;
}

.video-container {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

video {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  body, html {
      padding: 10px;
  }
}
