/* App.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  box-sizing: border-box; /* Asegura que padding y border estén incluidos en el width/height */
}

input, button, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #0056b3;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #004494;
}

.video-container {
  width: 100%; /* Ajusta al máximo ancho del formulario */
  max-width: 600px; /* Asegura que no sea más ancho que el formulario */
  aspect-ratio: 16 / 9; /* Mantiene una relación de aspecto 16:9 */
  overflow: hidden; /* Esconde cualquier parte del video que exceda el contenedor */
}

video {
  width: 100%;
  height: auto; /* Mantiene la relación de aspecto sin distorsionar el video */
}

@media (max-width: 768px) {
  body, html {
      padding: 10px; /* Añade algo de espacio en dispositivos pequeños */
  }
}
